{:paths          ["."]
 :deps           {}
 :min-bb-version "0.4.0"
 :tasks          {compile-java
                  {:doc "Compiles Java code for development"
                   :task (clojure "-T:build compile-java")}
                  test
                  {:doc "Runs unit tests"
                   :depends [compile-java]
                   :task (clojure "-M:test")}
                  release
                  {:requires ([clojure.string :as str])
                   :doc      "Makes a git tag and push it to the Github to trigger release with GH action."
                   :task     (let [command (str/join " " (concat ["-T:build trigger-release"] (or *command-line-args* [:snapshot false])))]
                               (clojure command))}}}
